.rowdata {
	background-color: #EAECEE;
}

.rowdatasel {
	background-color: #D8E1EB;
}

td.header {
	background-color: #DDDDDD;
	vertical-align: middle;
}

td.title {
	background-repeat: repeat-x;
	background-image: url(./tablebg.gif);
	font-weight: bold;
	font-size: 13;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
}

small {
	font-size: 10;
}


a, a:link, a:visited {

	text-decoration: none;
}

a:hover, a:active {

	text-decoration: none;
}
.jx_error, .jx_message {
	font-size: 120%;
  	margin-top: 0.8em;
  	margin-left: auto;
  	margin-right: auto;
  	width: 70% !important;
  	clear: both;
  	text-align: justify;
  	vertical-align: middle;
  	border-collapse: collapse;
  	padding: 15px 20px 15px 80px;
  	background-position: 20px 50%;
  	background-repeat: no-repeat;
  	-moz-border-radius: 20px;
  	-khtml-border-radius: 20px;
  	border-radius: 20px;
}
.jx_error {
  	background-color: #fdd;
	background-image: url( ../images/log_error.png );
}
.jx_message {
  	background-color: #f1f3f5;
	background-image: url( ../images/_info.gif );
}
.x-layout-panel-north, .ytheme-gray .x-layout-panel-north{
	background-image: url( ../scripts/extjs/images/vista/layout/panel-title-light-bg.gif );
	font:bold 12px verdana, helvetica;
	overflow:hidden;
	padding:4px;
	border:0px none;
	border-bottom:2px solid #c3daf9;
}
.ytheme-gray .x-layout-panel-north{
	border-bottom:2px solid #f3f2e7;
}